/*styling to keep html and body at 100% height*/
html,
body {
  height: 100%;
}

/*styling for headings*/
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  color: #20b2aa;
}

p {
  line-height: 1.5;
  margin-left: 20px;
}

/*styling for footer*/
footer {
  background: #484848;
  height: 50px;
  border-top: 4px solid #20b2aa;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* nav bar styling*/
.nav-link:hover {
  color: black;
}

.nav-item:active {
  color: black;
}

.navbar-brand {
  background: #20b2aa;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

/* about  styling*/
.container-fluid {
  background-color: #c0c0c0;
  margin: 0 auto;
  width: 100%;
}

.about-section {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 40px;
  background-color: white;
}

.about-me-heading {
  margin: 20px;
  border-bottom: 1px solid #c0c0c0;
}

.about-me-photo {
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.about-me-text {
  margin-bottom: 20px;
}

/*media queries*/
@media screen and (max-with:400px){
    .about-section: width: 100%;
}
