/*styling to keep html and body at 100% height*/
html,
body {
  height: 100%;
}

/*styling for headings and paragraph*/
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  color: #20b2aa;
  padding-bottom: 20px;
}

p {
  line-height: 1.5;
}

/* nav bar styling*/
.nav-link:hover {
  color: black;
}

.nav-item:active {
  color: black;
}

.navbar-brand {
  background: #20b2aa;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

/* main content styling*/
.container-fluid {
  background-image: url("background-image.png");
  margin: 0 auto;
  width: 100%;
}

.about-section,
.contact-section,
.portfolio-section {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 40px;
  background-color: white;
  padding: 5%;
}

.about-me-heading,
.contact-me-heading,
.portfolio-heading {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
}

/*about me styling*/
.about-me-photo {
  margin-right: 20px;
  float: left;
}
.clearfix::after {
  clear: both;
}

/*contact me styling*/
.form-group {
  width: 80%;
}

.btn-primary {
  background-color: #20b2aa;
  border-color: #20b2aa;
  border-radius: 0;
}

.btn-lg {
  font-size: 1rem;
}

/*portfolio styling*/
.img-row {
  background-color: white;
  width: 80%;
}

.img-placeholder {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

.img-thumbnail {
  margin-right: 5px;
}

/*styling for footer*/
footer {
  background: #484848;
  height: 50px;
  border-top: 4px solid #20b2aa;
  width: 100%;
}

/*media query for screens 400px and smaller*/
@media only screen and (max-width: 520px) {
  .col-8 {
    flex: 0 0 100%;
    max-width: 96%;
  }

  .about-section,
  .contact-section,
  .portfolio-section {
    margin-left: 8px;
  }

  .img-placeholder {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
  }

  .form-group {
    width: 100%;
  }
}
