.nav-link:hover {
  color: black;
}

.nav-item:active {
  color: black;
}

.navbar-brand {
  background: #20b2aa;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}
